<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
    <p>What's your favorite animal?</p>
    <mat-form-field>
        <input matInput [(ngModel)]="data.animal" name="animal" placeholder="Favorite Animal">
    </mat-form-field>

    <hr>
    <p>Here's a lot of dummy data to create a lot of scrolling content.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque volutpat, nisl sed tristique fermentum, ex
        massa semper elit, sit amet accumsan lorem libero non tortor. Proin pharetra vel elit in auctor. Nullam
        convallis dui sed ante interdum rhoncus. Quisque eu ex quis ipsum sagittis maximus id ut sapien. Cras tempor
        eros vitae nisl vehicula dapibus non nec enim. Quisque est lorem, ornare ultricies sagittis tempus, placerat
        vitae lectus. Duis fermentum lorem vitae turpis luctus viverra. Aliquam vel malesuada odio. Donec fringilla
        tellus sed lectus tristique, a ornare nibh aliquet. Sed faucibus, orci sit amet sodales sodales, orci risus
        efficitur neque, et lacinia dolor orci a magna. Orci varius natoque penatibus et magnis dis parturient montes,
        nascetur ridiculus mus. Suspendisse finibus iaculis sem, non scelerisque risus accumsan in. Donec ullamcorper
        enim vitae nisl sodales, id faucibus neque volutpat. Integer congue ligula eget odio rutrum, eu varius enim
        fermentum. Sed sem odio, consequat et aliquam sed, tristique nec risus. Phasellus eu ligula vitae arcu consequat
        tempus eu sit amet justo.</p>

    <p>Donec placerat condimentum interdum. Proin rutrum est eu viverra cursus. Praesent euismod iaculis quam ut
        vestibulum. Phasellus interdum fermentum purus ut vulputate. Cras volutpat sem vel mauris varius, eu dictum ex
        cursus. Duis augue ex, luctus a eros vitae, convallis pretium eros. Nunc nec velit vitae lorem aliquam efficitur
        id quis enim. Pellentesque viverra velit in ultricies hendrerit. Nunc aliquam est a justo aliquet gravida.</p>

    <p>Mauris vitae blandit odio. Suspendisse ac risus aliquam, rutrum eros a, mollis mi. Vestibulum eget interdum sem.
        Sed tempor ullamcorper imperdiet. Curabitur et feugiat metus, vitae pulvinar dui. Aenean luctus tempus lacus at
        ultricies. Maecenas at sem pretium, rutrum massa et, cursus magna. Phasellus eleifend nibh nulla, eget suscipit
        nunc eleifend vel. Phasellus rhoncus feugiat felis id convallis. Nam nec sagittis nisl. Sed commodo massa eu
        erat condimentum faucibus. Fusce nec velit ac mi aliquam placerat consectetur a sem. Suspendisse ut odio id nunc
        venenatis viverra.</p>

    <p>Vestibulum nec sem sit amet diam pellentesque cursus et ac arcu. Class aptent taciti sociosqu ad litora torquent
        per conubia nostra, per inceptos himenaeos. Nulla vel diam nisl. In eros dolor, mattis eu sem eget, sagittis
        euismod velit. Praesent congue sit amet nunc eu eleifend. Maecenas at finibus elit, vitae pretium purus.
        Curabitur eget dignissim eros. Etiam sed tortor nec tellus lobortis congue. Mauris consequat sem quis libero
        laoreet aliquet. Pellentesque lacus est, cursus at lacus id, cursus consectetur augue. Etiam non rhoncus sem. Ut
        pellentesque turpis ac velit consequat maximus. Morbi vel porttitor eros.</p>

    <p>Phasellus at nibh bibendum, blandit nisi egestas, porta nunc. Nam interdum nulla quis luctus posuere. Vestibulum
        quis lobortis ipsum. Quisque ac dolor a orci pellentesque bibendum luctus a ante. Vestibulum ultricies dignissim
        mauris ut faucibus. Nunc tincidunt pulvinar arcu, nec iaculis nulla sagittis ac. Fusce gravida ante sed odio
        consectetur, at suscipit leo volutpat.</p>

    <p>Etiam hendrerit mauris et venenatis vehicula. Suspendisse commodo diam lobortis, eleifend neque non, efficitur
        purus. Curabitur blandit magna nunc. Mauris non erat id ante euismod fermentum sed a magna. Donec rhoncus metus
        iaculis dui posuere auctor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
        himenaeos. Vestibulum eu finibus massa. Cras lorem sapien, luctus eu blandit non, lobortis in dolor. Orci varius
        natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin convallis, tellus vel euismod
        feugiat, justo sem vulputate lacus, ac suscipit libero urna a purus. Maecenas id justo condimentum, rutrum purus
        ac, facilisis dolor. Curabitur pretium turpis vitae ante varius, sit amet dignissim lacus porttitor. Praesent
        ornare ex sit amet nisi porta varius. Curabitur mi turpis, mollis in ligula at, suscipit commodo erat.</p>

    <p>Morbi pulvinar lectus ut aliquam efficitur. Aliquam malesuada, risus non ornare molestie, elit leo lacinia ante,
        sit amet tempor ipsum purus eu sapien. Aliquam dui est, luctus a egestas non, mattis quis ligula. Pellentesque
        lectus sapien, efficitur eget nisl sit amet, commodo egestas est. Nulla sed sem tristique, dignissim risus eu,
        feugiat tortor. Vestibulum facilisis semper nisi. Fusce vitae diam in ex pretium blandit. Ut aliquam ipsum nibh,
        id scelerisque elit vulputate id. Donec sollicitudin est vitae sollicitudin sollicitudin. Fusce posuere egestas
        lacus eu ullamcorper. Aenean ut ex viverra, convallis arcu id, varius lorem. Phasellus eu luctus ligula. Nullam
        a sapien vitae odio consequat pulvinar. Aliquam enim dui, porttitor nec faucibus non, fringilla vel quam.</p>

    <p>Nullam placerat eleifend feugiat. Fusce tincidunt arcu mauris, sed condimentum tellus luctus id. Duis a tempor
        massa, a cursus nisi. Vivamus ut ultrices velit. Mauris semper tortor quis erat condimentum commodo. Praesent
        placerat interdum enim, non tempus sapien accumsan at. Mauris et tempus ligula, eu eleifend leo. Integer ut
        augue in ligula volutpat consectetur eget ut urna. Donec mi augue, euismod ut elit vitae, sollicitudin elementum
        elit. Curabitur finibus sem quis placerat pharetra. Aenean id felis elementum velit laoreet pulvinar. Aliquam
        posuere pulvinar pulvinar. Pellentesque et purus finibus, tempus elit in, aliquet diam. Sed commodo enim erat,
        eu egestas nisi imperdiet ac.</p>

    <p>Proin id dignissim libero, at elementum nunc. Nulla facilisi. Curabitur vehicula, dolor at varius elementum,
        felis odio fermentum nisl, ut interdum turpis lectus eu erat. Suspendisse tincidunt fringilla viverra. Aliquam
        aliquam nibh eget consectetur semper. Aenean laoreet vitae justo id commodo. Ut rutrum arcu mi, in tincidunt
        ipsum ornare eu. Curabitur id dolor tellus. Aliquam congue ex at lectus feugiat varius. Nulla consectetur erat
        elementum vestibulum maximus. Morbi sit amet vulputate quam. Fusce sit amet egestas augue.</p>

    <p>Quisque id mauris ac risus iaculis efficitur vitae et nunc. Quisque blandit laoreet elementum. Maecenas cursus
        magna ac dapibus pulvinar. Phasellus quis molestie dolor. Sed ac auctor nisl. Integer eget nibh faucibus leo
        volutpat efficitur nec rutrum enim. Praesent vestibulum sodales ornare. Donec ut tellus urna. Morbi suscipit
        ligula odio, at semper sem dictum sit amet. Aenean interdum gravida nunc fringilla vehicula. Nunc aliquet augue
        ac magna convallis, vel accumsan ipsum tincidunt. Pellentesque pellentesque sapien nec sapien hendrerit, non
        aliquam neque molestie. Vivamus malesuada elit nec elit pulvinar blandit. Proin eu nisl neque. Nunc ultrices
        imperdiet eros, non pulvinar risus pulvinar nec.</p>
</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()" name="cancel" color="primary">No Thanks</button>
    <button mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial name="submit" color="primary">Ok</button>
</div>
