<kg-content-header>
    <!-- insert page header content here -->
    <ng-container toolbarContent>
        <kg-breadcrumb
            [items]="[{ link: '/', label: 'Introduction' }, { link: null, label: 'Developing Angular Components', active: true }]"></kg-breadcrumb>
    </ng-container>

    <ng-container utilities>
        <!--page-level utilities here-->
    </ng-container>
</kg-content-header>

<kg-content-main>
    <!-- insert page content here -->

    <markdown path="assets/documentation/angularcomponents-README.md"></markdown>

</kg-content-main>

<kg-content-footer>
    <!-- insert footer content here -->
    Home page footer
</kg-content-footer>
