@import '../forms.component';

.example-modal {
    hr {
        width: 100% !important;
    }
    .mat-form-field {
        margin-right: 10px;
    }
}

.example-container {
    &.inlineInputs {
        .mat-form-field {
            margin-right: 10px;
            min-width: 100px;
        }
    }
}
