<h1 mat-dialog-title>Modify Cronjob</h1>
<div mat-dialog-content class="example-modal" [class.hideFormSpacing]="!formSettingsService.settings.reserveSpace">

    <div class="row"
         [class.justify-content-center]="formSettingsService.settings.alignment == 'center'"
         [class.justify-content-end]="formSettingsService.settings.alignment == 'right'"
    >
        <div class="col example-container"
             [class.inlineInputs]="formSettingsService.settings.inputBlock === 'inline'"
        >
            <div class="row">
                <div class="col">
                    <mat-form-field [floatLabel]="formSettingsService.settings.floatLabel" class="readonly">
                        <input matInput placeholder="Cronjob ID" value="AppMiscPurging" [disabled]="true">
                    </mat-form-field>
                </div>
                <div class="col text-md-right text-sm-left">
                    <div class="mat-slide-toggle-group">
                        <mat-slide-toggle color="primary">Enabled</mat-slide-toggle>
                    </div>
                </div>
            </div>

            <hr>

            <div class="label">Details</div>

            <mat-form-field [floatLabel]="formSettingsService.settings.floatLabel">
                <input matInput placeholder="Group Name">
            </mat-form-field>

            <div class="textarea-wrap" [class.full-width]="formSettingsService.settings.textareaBlock !== 'inline'">
                <mat-form-field [floatLabel]="formSettingsService.settings.floatLabel">
                    <textarea matInput placeholder="Description">Purges data on Cron Job Journa, Robust Purge Issues, JMS handling and fact tables.  Other standalone technical table from APP could be added to be purged. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci architecto at atque commodi consequuntur eaque expedita explicabo, laudantium nam placeat quibusdam quisquam reiciendis rem reprehenderit sint suscipit tempore ut veritatis!</textarea>
                </mat-form-field>
            </div>

            <mat-form-field class="full-width readonly">
                <mat-select placeholder="Handler Class" [(value)]="handlerSelection" [disabled]="true">
                    <mat-option value="option1">com.dematic.wms.app.purging.control.PurgerCronjob</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                    <mat-option value="option4" disabled>Option 4 (disabled)</mat-option>
                    <mat-option value="option5">Option 5</mat-option>
                </mat-select>
            </mat-form-field>

            <div class="row no-gutters">
                <div class="col">
                    <mat-form-field [floatLabel]="formSettingsService.settings.floatLabel" class="full-width readonly">
                        <input matInput [matDatepicker]="lastRunPicker" placeholder="Last Run" [disabled]="true" [(ngModel)]="lastRunDate" name="lastRunDate">
                        <mat-datepicker-toggle matSuffix [for]="lastRunPicker"></mat-datepicker-toggle>
                        <mat-datepicker #lastRunPicker startView="year"></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="col">
                    <mat-form-field [floatLabel]="formSettingsService.settings.floatLabel" class="full-width readonly">
                        <input matInput [matDatepicker]="nextRunPicker" placeholder="Next Run" [disabled]="true" [(ngModel)]="nextRunDate" name="nextRunDate">
                        <mat-datepicker-toggle matSuffix [for]="nextRunPicker"></mat-datepicker-toggle>
                        <mat-datepicker #nextRunPicker startView="year"></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

            <mat-form-field [floatLabel]="formSettingsService.settings.floatLabel">
                <input matInput placeholder="Max duration" value="0 d 00:00:00">
                <mat-hint align="start">The duration after which this cronjob will timeout</mat-hint>
            </mat-form-field>

            <div class="mat-slide-toggle-group">
                <mat-slide-toggle color="primary">Show positive journal messages</mat-slide-toggle>
            </div>

            <mat-form-field [floatLabel]="formSettingsService.settings.floatLabel">
                <input matInput placeholder="Number of total runs" value="0">
            </mat-form-field>

            <mat-form-field [floatLabel]="formSettingsService.settings.floatLabel">
                <input matInput placeholder="Number of error runs" value="0">
            </mat-form-field>

            <mat-form-field [floatLabel]="formSettingsService.settings.floatLabel">
                <input matInput placeholder="Minimum duration" value="0.000">
            </mat-form-field>

            <mat-form-field [floatLabel]="formSettingsService.settings.floatLabel">
                <input matInput placeholder="Maximum duration" value="0.000">
            </mat-form-field>

            <mat-form-field [floatLabel]="formSettingsService.settings.floatLabel">
                <input matInput placeholder="Average duration" value="0.000">
            </mat-form-field>

            <hr>

            <div class="label">Action Type</div>

            <mat-radio-group
                name="scriptType"
                id="scriptType"
                class="controls-wrap"
                [class.block]="formSettingsService.settings.radioBlock === 'block'"
            >
                <mat-radio-button value="demon" color="primary">Demon</mat-radio-button>
                <mat-radio-button value="batch" color="primary">Batch</mat-radio-button>
            </mat-radio-group>

            <div class="label">Actions</div>

            <mat-form-field>
                <mat-select placeholder="Add Action">
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                    <mat-option value="option5">Option 4</mat-option>
                </mat-select>
            </mat-form-field>

            <hr>

        </div>
    </div>
</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="onCancelClick()" name="cancel" color="primary">Cancel</button>
    <button mat-raised-button [mat-dialog-close]="data" cdkFocusInitial name="submit" color="primary">Ok</button>
</div>
