<kg-content-header>
    <!-- insert page header content here -->
    <ng-container toolbarContent>
        <kg-breadcrumb
            [items]="[{ link: '/', label: 'Introduction' }, { link: null, label: 'Intro to Components', active: true }]"></kg-breadcrumb>
    </ng-container>

    <ng-container utilities>
        <!--page-level utilities here-->
    </ng-container>
</kg-content-header>

<kg-content-main>
    <!-- insert page content here -->

    <h1>Intro to Components</h1>

    <p>Apps based on <strong>WUF's Library of Components</strong> have a variety of component flavors to choose
        from. Underneath the covers, a component can be based on Angular (an Angular component), Polymer (a Polymer
        component), or the standards-based web component spec (a web component).
    </p>

    <p>Ultimately, it doesn't matter what technology a given component uses, since all of these components are designed
        to play nicely with each other. Instead, as a developer, you should pick whichever component works best for the
        use case you are coding against.
    </p>

    <p>
        The pages within this section each document the installation, usage, and design patterns for different components
        available within WUF.
    </p>

</kg-content-main>

<kg-content-footer>
    <!-- insert footer content here -->
</kg-content-footer>
